<h4>Bookshelves</h4>

<div class='list-group'>
  <div class="list-group-item">
    <%= text_field_tag :search, nil, class: "form-control js-bookshelf-filter", placeholder: "Find a bookshelf" %>
  </div>

  <% @bookshelves.each do |bookshelf| %>
    <%= link_to bookshelf.name.capitalize, home_index_path(user_id: bookshelf.id), class: 'list-group-item js-bookshelf' %>
  <% end %>
  <%= link_to "All books", home_index_path, class: 'list-group-item js-bookshelf' %>
</div>