<div class="row">
  <div class="col-sm-9">
    <%= title 'All books'%>
    <hr>

    <%= render 'books', books: @books %>
  </div>
  <div class="col-sm-3">
    <%= render 'bookshelves', bookshelves: @bookshelves %>
  </div>
</div>